/* You can add global styles to this file, and also import other style files */
body,div,p,a,span,footer{
	margin:0;
	padding:0;
}

body{
	position: relative;
	background-image: url("images/bg.jpg");
	z-index:-1;
}