.startbg{
	margin-top:20px;
	height:16px;
	background-image: url("../../images/maintopbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.content{
	height:600px;
	margin-left: 20px;
	background-color:rgb(229,229,229);
	border-left:1px solid rgb(210,210,210);
	border-right:1px solid rgb(210,210,210);
	overflow-x: hidden;
}
.endbg{
	margin-bottom:20px;
	height:16px;
	background-image: url("../../images/mainendbg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}