<div class="row">
	<div class="col-md-8 navTitle">
		<h2>bobo-blog</h2>
	</div>
	<div class="col-md-4 navSearch">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-md-7">
					<input type="text" class="form-control" placeholder="搜索" ng-model="searchText">
				</div>
				<button type="button" class="btn btn-default" ng-click="search()">搜索</button>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-7 col-md-offset-2 navItem">
		<ul class="list-unstyled">
			<li>博客主页</li>
			<li>技术文章</li>
			<li>生活杂记</li>
			<li>个人简介</li>
			<li>联系方式</li>
		</ul>
	</div>
</div>